* {
  font-family: "Roboto", sans-serif;
}

.headerlinksContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbarlinksContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

.leftSection,
.rightSection {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rightSection {
  justify-content: flex-end;
}

.navlink {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 20px;
}

.icon {
  margin-bottom: 5px;
}

.languageIcon {
  font-size: larger;
}

/* ------------------------------------------------ */

.headerlinksContainer .navlink {
  flex-direction: column;
  justify-content: space-between;
  color: black;
  padding: 5px 50px 5px 5px;
}

.navbarlinksContainer .navlink {
  margin-left: 20px;
  color: white;
}

.navbarlinksContainer .icon {
  margin-inline: 15px;
}

/* ------------------------------------------------ */
