/* .sidebarContainer {
  
} */

.sidebarlinkscontainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  background-color: #40bdf7;
  height: 100%;
  width: 150px;
  /* height: calc(100vh - 50px); */
  position: sticky;
  top: 50px;

  padding-top: 55px;
}

.container2 {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 100px;
}

.sidebarnavlink {
  text-decoration: none;
  margin: 20px 15px;
  padding: 5px 0;
  font-size: 14px;
  color: white;
}
