.sidebarContainer {
  width: 180px;
  height: calc(100vh - 50px);
  position: sticky;
  top: 50px;
}

.sidebarlinkscontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  height: 100%;
  background-color: #40bdf7;
}

.sidebarnavlink {
  text-decoration: none;
  margin: 10px 20px;
  padding: 15px 0;
  font-size: 14px;
  color: white;
}
