.mainContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.leftSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
}

.rightSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  height: 100%;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 450px;
  padding: 10px;
  /* background-color: black; */
  align-items: center;
  justify-content: center;
  padding-inline: 30px;
  border-radius: 30px;
  border: none;
  box-shadow: 0 0 10px 2px rgba(64, 189, 247, 0.5);
  background-color: azure;
}

.previewImg {
  width: 100%;
  border-radius: 20px 20px 0 0;
  border-bottom: 1px solid #40bdf7;
}

.uploadImgPrompt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.uploadIcon {
  font-size: 50px;
  margin-bottom: 30px;
  color: #40bdf7;
}

/* styling input button */

.hiddenInput {
  display: none;
}

/* Custom styled button */
.customButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #57c6f9;
  color: white;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  border: none;
  margin-top: 20px;
}

.customButton:hover {
  font-weight: 600;
  box-shadow: 0 0 10px 2px rgba(64, 189, 247, 0.5);
}
